* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto", sans-serif;
  --font-baloo: "Baloo 2", cursive;

  font-size: 62.5%;
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 1px #8047f8;
}

body {
  background: #fafafa;
  color: #000;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  max-width: max-content;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
